/* General styling for the recipe container */
.recipe-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  /* Flex container for the image and info card */
  /* .image-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; /* Adjust the gap as needed */
    /* margin-bottom: 20px;
  } */
  
  /* Styling for the recipe image */
  .bordered-image {
    display: block;
    max-width: 100%;
    height: auto;
    border: 5px dashed black;
    border-radius: 10px;
  }
  
  /* Styling for the info card */
  .info-card {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
  }
  
  .info-card h2 {
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .info-card .info {
    font-size: 14px;
    color: #555;
  }
  
  /* Styling for the recipe details */
  .recipe-details {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.6;
  }
  
  .recipe-details ul {
    padding-left: 20px;
  }
  
  .recipe-details ol {
    padding-left: 20px;
  }

  #image{
    width: 500px;
    height: 500px;
  }