.recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    padding-bottom: 80px; /* Adjust the padding bottom to accommodate the fixed footer */
  }
  
  .recipe-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Adjust spacing between cards */
    margin: 0 auto; /* Centering the cards horizontally */
  }
  
  .recipe-cards > * {
    flex: 0 0 calc(33.33% - 20px); /* Adjust as needed for spacing between cards */
    margin-bottom: 20px; /* Adjust as needed for spacing between rows */
  }
  
  header {
    text-align: center;
    padding: 20px;
    background-color: #f8f8f8;
    margin-bottom: 20px;
  }
  
  header h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background-color: #f8f8f8;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  
  footer p {
    margin: 0;
    font-size: 14px;
    color: #777;
  }

  h1{
    text-align: center;
    font-family: 'Dancing Script', cursive;
  }

  section h2{
    text-align: center;
    padding: 20px;
  }

  #highlight {
    align-items: center;
    background-color: rgb(200, 254, 254);
    height: 300px;

  }

  #highlight img {
    width: 260px; /* Set a fixed width for each image */
    height: 250px;
    padding: 20px;
  }

  .image-contain{
    width: 150px;
    height: 30px;
    background: blue;
    color: white;
    text-align: center;
    position: absolute;
  }

  .quick{
    left: 230px;
    top: 390px;
  }

  .health{
    left: 530px;
    top: 390px;
  }

  .cupcake{
    left: 830px;
    top: 390px;
  }

  .culture{
    left: 1130px;
    top: 390px;
  }
  